body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'arial', 'verdana';
}

header {
    box-shadow: 0 0.1em 0.4em 0 rgba(0, 0, 0, .3);
    width: 100%;
    height: 3.5rem;
    position: fixed;
    background-color: #FF5C5C;
    display: inline-block;
    z-index: 10;
    margin-top:-0.1rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li:nth-of-type(1) {
    position: relative;
    /* font: 0/0 a; */
    background: url(./image/logo.png);
    background-repeat: no-repeat;
    background-size: 2.5rem;
    width: 5rem;
    height: 2.5rem;
    /* flex-grow: 0.9; */
    text-align: center;
    margin-left: -1rem;
    padding-top: 0.2rem;

    margin-top: -0.3rem;
}
header nav ul li:nth-of-type(1) a {
  color:#fff0;
}

header nav ul li:nth-of-type(2) {
    position: relative;
    background-color: #FFE5B9;
    background-repeat: no-repeat;
    padding: 0 1.3em;
    height: 1.5rem;
    margin-left: -2rem;
    margin-right:1.5rem;
    text-align: center;
    padding-top: 0.2rem;
    box-shadow: 0 0.1em 0.4em 0 rgba(0, 0, 0, .3);
    border-radius: 0.6rem;
}

header nav ul li:nth-of-type(2) a {
    text-decoration: none;
    color: #FF5C5C;
}

header nav ul li:nth-of-type(1):hover {
    color: white;
    opacity: 0.96;
    transition: .25s;
    transform: scale(0.97);
}

header nav ul li:nth-of-type(2):hover {
    color: white;
    opacity: 0.96;
    transition: .25s;
    transform: scale(0.97);
}


main {
    padding-top:3.2rem;
    display:block;
    padding-left: 1.5em;
    padding-right: 1.5rem;
}

h1{
    color: #FF5C5C;
}

.icon{
  display:inline-block;
  width:2.1rem;
}

form{
  position:absolute;
  margin-top:-4em;
  margin-left:13.5em;
}

button:nth-of-type(1){
        width:3rem;
        height:3rem;
        background-image: url(./image/icon_fav.png);
        background-size:3rem;
        background-repeat: no-repeat;
        background-color:transparent;
        border:none;
        margin-left:1em;
}

button:nth-of-type(2){
        width:3rem;
        height:3rem;
        background-image: url(./image/icon_sendmessage.png);
        background-size:3rem;
        background-repeat: no-repeat;
        background-color:transparent;
        border:none;
}

button:hover {
    /*    background-color: white;*/
    opacity: 0.85;
    transition: .25s;
    transform: scale(0.97);
}
div{
  overflow: hidden;
  display: inline-block;
  width:20em;
  height:20em;
  border: solid 1px #FF5C5C;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.profilepic {
    display: inline-block;
    height: 100%;
    float center;

    /* height:8em; */

}

article{
  display: inline-block;
  /* margin-left: 2.2rem; */
}

h2{
    color: #FF5C5C;
    /* margin-left:1.7em; */
}

h3 {
  color: #FF5C5C;
  font-size: 1em;
}
p {
    color: black;
    text-align: left;
}

p:nth-of-type(2) {
    text-transform: capitalize;
}

@media (min-width: 30em){
  main{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 5% 90% 5%;
  }
  h1{
    grid-column:2;
  }
  form{
    grid-column:2;
    position: absolute;
    margin-left: 18em;
    margin-top: 4.3em;
  }
  div{
    grid-column:2;
    margin-left:0;
    /* width:100%; */
    /* height:100%; */
  }
  article{
    grid-column: 2;
  }
}

@media (min-width: 48em){
  body{
    background-color:#F9F4EF;
  }
  main{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10% 20em 40% 10%;
    grid-template-rows: auto auto auto;
  }
  h1{
    grid-column:2;
    grid-row:1;
  }
  form{
    grid-column:3;
    grid-row:1;
    margin-left: 24em;
  }
  div{
    grid-column:2;
    grid-row:2;
    margin-left:0;
    width:100%;
    /* height:100%; */
  }
  article{
    grid-row:2;
    grid-column: 3;
  }
}
