<% include head1.ejs %>
    <header>
        <nav>
            <ul>
                <li><a href="/">Index</a> </li>
                <li><a href="/myaccount">Login</a> </li>
            </ul>
        </nav>
    </header>
    <main>
      <li>
        <a href='/updateprofile/<%= user.id %>'>Edit</a>
      </li>
        <a href="/logout">Login</a>
    </main>
    <% include tail.ejs %>
